#nav{
	display: none;
}

.barraNav{
	text-align: center;
	background-image: linear-gradient(rgb(122, 86, 86) , rgba(122, 86, 86, 0.774) );
}

#navbarSupportedContent a{
	color: white;
}

.container #fraseEfeito{
	text-align: center;
	font-size: 25px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 20px;
}

 
.container #historia{
	text-align: center;
	font-size: 20px;
	background-color:rgba(122, 86, 86, 0.13) ;
	margin-top: 20px;
	padding: 30px;
	border-radius: 50px 10px;
}


.container .procedimentos .btn-primary{
	background-image: linear-gradient(rgb(122, 86, 86) , rgba(122, 86, 86, 0.774) );
	background-color: white;
	border-color: white;
	color: white;
	border-radius: 10px;
}

.container .procedimentos .card.card-body ol{
	padding-inline-start: 0px;
	text-align: center;
}

.container .procedimentos .card.card-body ol a{
    display: inline-block;
	text-align: center;
    color: currentColor;
	text-decoration: none;
	list-style: none;
	width: 250px;
	margin-bottom: 20px;
	border-radius: 10px;
	padding: 10px;
	background-image: linear-gradient(rgb(122, 86, 86) , rgba(122, 86, 86, 0.774) );
}


.container .procedimentos #btnTratamentos{
	display: flex;
	justify-content: center;
}

.container .tratamentos figure{
	margin: 10px;
	text-align: center;
	display: inline-block;
}

.container .tratamentos img{
	border-radius: 10px;
}

.container #carouselExampleIndicators .carousel-inner{
	text-align: center;
}

.container #carouselExampleIndicators .carousel-inner img{
	border-radius: 10px;
}


.map-responsive{
    overflow:hidden;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
}

footer{
	
	text-align: center;
	background-color:rgba(122, 86, 86, 0.13) ;
	padding: 5px;
	
}

footer #icone{
	width: 20px;
	margin-left: 10px;
	margin-bottom: 15px;
}

footer #direitos{
	font-size: 10px;
}

footer #direitos p a{
	text-decoration: none;
	color:currentColor;
}


@media(max-width: 991px){

	#nav{
		display: block;
	}

	#nav2{
		display: none;
	}

	.container #carouselExampleIndicators .carousel-inner img{
		width: 100%;
	}
	
}
